@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

#city-input,
#weather-output {
  max-width: 400px;
  margin: 0 auto;
}
body {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1802eb38-b315-4139-a3e2-d63b758ae081/d9vbn8y-bbee2847-a506-41f3-8823-dc23dfc39b29.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMTgwMmViMzgtYjMxNS00MTM5LWEzZTItZDYzYjc1OGFlMDgxXC9kOXZibjh5LWJiZWUyODQ3LWE1MDYtNDFmMy04ODIzLWRjMjNkZmMzOWIyOS5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.V-TH_Hbweg1ISS2N3WWt6eBBgoq33nfkMKi95G-bLYo");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-size: 100% 100%;
  height: 100vh; */
  font-family: "Montserrat", sans-serif;
}
.banner {
  color: #ffd23f;
  font-family: sans-serif;
}
.card {
  height: 600px;
  background-image: url("https://i.pinimg.com/originals/ac/cd/22/accd2200173d77af65b0bcf49cf2ed7a.jpg");
  background-size: cover;
  box-shadow: 0px 0px 20px 2px #000131;

}
.weatherData {
  width: 400px;
  margin: auto;
  border: 0;
  margin-bottom: 5rem;
}
.card-body {
  /* background-color: rgba(1, 1, 1, 0.7); */
  width: 60%;
  margin: auto;
  max-height: 550px;
  border-radius: 30px;
  color: white;
}
ul {
  font-size: 1.2rem;
}
li {
  margin-bottom: 1rem;
  color: rgb(218, 218, 218);
}
.moreData {
  background-color: rgba(1, 1, 1, 0.6);
  color: white;
  text-align: center;
  margin: auto;
  width: 100%;
}
#temperature {
  font-size: 2rem;
}
.search {
  display: flex;
  justify-content: center;
}
.btn {
  height: 3rem;
  margin-left: 20px;
}
.data {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}
